### Natural Language Processing - Final Project

__Group Members:__
1) Aanal Patel - C0910376
2) Bimal Shresta - C0919385
3) Danilo Diaz - C0889539
4) Ernie Sumoso - C0881591
5) Jayachandhran Saravanan - C0910392

In [113]:
job_desc = """Full job description
**About Us:**
W.E Global is a dedicated educational institution committed to providing high-quality academic support to students in our community. We offer a range of programs designed to enhance students' learning experiences and foster a love for mathematics.
**Job Description:**
We are currently seeking enthusiastic and experienced Part-Time Math Teachers/Tutors to join our team. As a Math Teacher/Tutor, you will be responsible for providing personalized instruction to students in various levels of mathematics, from Kindergarten to Grade 12 IN PERSON. This position offers flexible working hours during weekday after-school hours from 3:30 pm to 9:00 pm, with the opportunity to work 10-20 hours per week.
**Responsibilities:**
- Provide engaging and effective instruction in mathematics to students in grades K-12.
- Tailor lessons and teaching methods to meet the individual needs and learning styles of students.
- Cover a range of topics in mathematics, including but not limited to Advanced Functions, Calculus, Data Management, and curriculum Math.
- Prepare and deliver lessons that align with curriculum standards and objectives.
- Assess student progress and provide constructive feedback to support their academic growth.
- Create a supportive and inclusive learning environment conducive to student success.
- Participate in training and professional development opportunities as required.
**Requirements:**
- Bachelor's degree in Mathematics, Education, or a related field (Master's degree preferred).
- Previous experience teaching or tutoring mathematics at the K-12 level.
- Strong knowledge of high school mathematics, including Advanced Functions, Calculus, and Data Management.
- Familiarity with Math Olympiad Competition Math preferred.
- Excellent communication and interpersonal skills.
- Ability to motivate and inspire students to achieve their academic goals.
- Flexible availability during weekday after-school hours.
- Commitment to fostering a positive learning environment for all students.
- Weekend as needed
**Benefits:**
- Competitive hourly wage
- Flexible working hours
- Professional development opportunities
- Opportunity to make a meaningful impact on students' academic success
**How to Apply:**
If you are passionate about mathematics and have a desire to help students succeed, we encourage you to apply for this position by submitting your resume and a brief cover letter. Please include details about your relevant experience and why you are interested in joining our team as a Part-Time Math Teacher/Tutor
W.E Global is an equal opportunity employer and welcomes candidates from diverse backgrounds to apply.
Job Types: Part-time, Permanent
Salary: $20.00-$26.00 per hour
Expected hours: 10 – 20 per week
Benefits:
Casual dress
Company events
On-site parking
Flexible Language Requirement:
French not required
Schedule:
Monday to Friday
Weekends as needed
Supplemental pay types:
Overtime pay
Education:
Bachelor's Degree (required)
Work Location: Hybrid remote in Markham, ON L3R 5L9"""

In [235]:
from os import listdir
from os.path import isfile, isdir, join

def get_list_of_files(data_path):
    # get list of files from the data path
    files = [file for file in listdir(data_path) if isfile(join(data_path, file))]
    # get list of folders from the data path
    dirs = [(file, join(data_path, file)) for file in listdir(data_path) if isdir(join(data_path, file))]
    # get files from each folder
    for i, dir_ in enumerate([d[1] for d in dirs]):
        files += [(dirs[i][0], join(dir_, file), file) for file in listdir(dir_) if isfile(join(dir_, file))]
    return files

data_1 = get_list_of_files('Data_source_1')
data_2 = get_list_of_files('Data_source_2')
print(len(data_2))
data_2[:10]

2484

[('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\10554236.pdf', '10554236.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\10674770.pdf', '10674770.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\11163645.pdf', '11163645.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\11759079.pdf', '11759079.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12065211.pdf', '12065211.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12202337.pdf', '12202337.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12338274.pdf', '12338274.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12442909.pdf', '12442909.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12780508.pdf', '12780508.pdf'),
 ('ACCOUNTANT', 'Data_source_2\\ACCOUNTANT\\12802330.pdf', '12802330.pdf')]

In [236]:
import PyPDF2
import pandas as pd

def get_text_from_pdf(file_path):
    file = open(file_path, 'rb')
    reader = PyPDF2.PdfReader(file)
    text = ""
    for page in reader.pages:
        text += page.extract_text()
    file.close()
    return text

def convert_pdfs_into_dataframe(pdfs):
    rows = []
    for pdf in pdfs:
        rows.append({'file': pdf[2], 'profession': pdf[0], 'resume':get_text_from_pdf(pdf[1])})
    return pd.DataFrame(rows)

df = convert_pdfs_into_dataframe(data_2)
df.tail()

,file,profession,resume
2479,86322251.pdf,TEACHER,READING TEACHER\nSummary\nI am a highly motiva...
2480,86597425.pdf,TEACHER,HISTORY TEACHER\nProfessional Summary\nTo be e...
2481,90363254.pdf,TEACHER,"TEACHER\nSummary\nHighly ethical, dependable, ..."
2482,96547039.pdf,TEACHER,TEACHER\nSummary\nTalented early education pro...
2483,99244405.pdf,TEACHER,Kpandipou Koffi\nSummary\nCompassionate teachi...

In [140]:
df_ = df.copy()

## Verbs simmilarity analysis

In [226]:
from nltk import word_tokenize
import string
from nltk.corpus import stopwords
from textblob import TextBlob

def clean_text(text):
    text = text.translate(str.maketrans('', '', string.punctuation)) # remove punctuation
    tokens = word_tokenize(text) # tokenize words
    sw = stopwords.words('english') # remove stopwords
    tokens = [w.lower() for w in tokens if w.lower() not in sw]
    tokens = [w for w in tokens if not w.isdigit()] # remove digits/numbers
    return ' '.join(tokens)

def get_tokenized_unique_words(text):
    tokens = word_tokenize(text)
    print("# total words:", len(tokens)) # remove repeated words
    tokens = list(set(tokens))
    print("# unique words:", len(tokens))
    return tokens

def get_pos_tags(tokens, tag_start=''):
    blob = TextBlob(' '.join(tokens)) # pos tagging words
    tags = [tag for tag in blob.tags if tag[1].startswith(tag_start)]
    return tags

In [227]:
from nltk.stem import WordNetLemmatizer

def lemmatize_words(tokens, pos):
    lem = WordNetLemmatizer() # lemmatize words
    verbs_lem = [lem.lemmatize(token[0], pos=pos) for token in tokens]
    verbs_lem = get_tokenized_unique_words(' '.join(verbs_lem))
    return verbs_lem

text = df.iloc[2479]['resume']
text = clean_text(text)
tokens = get_tokenized_unique_words(text)
verbs = get_pos_tags(tokens, 'VB')
verbs_resume = lemmatize_words(verbs, 'v')
verbs_resume[:10]

# total words: 580
# unique words: 303
# total words: 74
# unique words: 71

['workshops',
 'requirementsâ',
 'look',
 'learn',
 'offer',
 'run',
 'studentcentered',
 'passionate',
 'provide',
 'achieve']

In [228]:
text = job_desc
text = clean_text(text)
tokens = get_tokenized_unique_words(text)
verbs = get_pos_tags(tokens, 'VB')
verbs_jobdesc = lemmatize_words(verbs, 'v')
verbs_jobdesc[:10]

# total words: 282
# unique words: 193
# total words: 41
# unique words: 39

['level',
 'park',
 'submit',
 'advance',
 'learn',
 'make',
 'welcome',
 'limit',
 'provide',
 'passionate']

In [242]:
common_verbs = [verb for verb in verbs_resume if verb.lower() in verbs_jobdesc]

print("% verbs simmilarity: {:.2f}".format(len(common_verbs) * 100 / len(verbs_jobdesc)))
common_verbs

% verbs simmilarity: 28.21

['learn',
 'passionate',
 'provide',
 'achieve',
 'teach',
 'succeed',
 'participate',
 'require',
 'engage',
 'include',
 'grade']

## Keywords (named entities) simmilarity analysis

In [230]:
from nltk import sent_tokenize
import nltk

def get_named_entities(text):
    sentences = sent_tokenize(text) # sentence tokenization
    tokens = [word_tokenize(sent) for sent in sentences] # word tokenize each sentence
    tags = [nltk.pos_tag(sent) for sent in tokens] # pos tagging each word
    chunks = nltk.ne_chunk_sents(tags, binary=True) # set named entity chunks
    named_entities = []
    for sent in chunks: # save named entities from text
        for chunk in sent:
            if hasattr(chunk, "label") and chunk.label() == 'NE':
                named_entities.append(chunk)
    return named_entities

In [232]:
def extract_specific_named_entities(nes, tag):
    named_entities = []
    # extract only named entities with equal tag
    for ne in nes:
        named_entity = [word[0] for word in ne if word[1] == tag] # compare tags
        named_entity = ' '.join(named_entity) # stringify list
        if named_entity != "":
            named_entities.append(named_entity) # add named entity to list
    return list(set(named_entities)) # return only unique values

text = job_desc # job description text
nes = get_named_entities(text)
nes_jobdesc = extract_specific_named_entities(nes, 'NNP')
nes_jobdesc

['Please',
 'Master',
 'Advanced Functions',
 'Bachelor',
 'Math Olympiad Competition Math',
 'Education',
 'Job',
 'Kindergarten',
 'Mathematics',
 'Markham',
 'Calculus',
 'Data Management',
 'Permanent',
 'Full']

In [239]:
text = df.iloc[2479]['resume'] # resume text
text = clean_text(text)
tokens = get_tokenized_unique_words(text)

# total words: 580
# unique words: 303

In [241]:
common_nes = [word for word in tokens if word.lower() in list(map(str.lower, nes_jobdesc))]

print("% keyword simmilarity: {:.2f}".format(len(common_nes) * 100 / len(nes_jobdesc)))
common_nes

% keyword simmilarity: 21.43

['education', 'master', 'bachelor']

## Bigrams simmilarity analysis

In [270]:
from nltk.collocations import BigramCollocationFinder
from nltk.metrics import BigramAssocMeasures

def clean_text_without_lowering(text):
    text = text.translate(str.maketrans('', '', string.punctuation)) # remove punctuation
    tokens = word_tokenize(text) # tokenize words
    sw = stopwords.words('english') # remove stopwords
    tokens = [w for w in tokens if w.lower() not in sw]
    tokens = [w for w in tokens if not w.isdigit()] # remove digits/numbers
    return ' '.join(tokens)

def get_top_n_bigrams(tokens, n):
    bcf = BigramCollocationFinder.from_words(tokens) # instantiate bigram finder
    bigrams = bcf.nbest(BigramAssocMeasures.likelihood_ratio, n) # get top n bigrams
    return bigrams

text = job_desc # job description text
text = clean_text_without_lowering(text)
bigrams_jobdesc = get_top_n_bigrams(word_tokenize(text), 20)
bigrams_jobdesc

[('Advanced', 'Functions'),
 ('Calculus', 'Data'),
 ('Data', 'Management'),
 ('Functions', 'Calculus'),
 ('development', 'opportunities'),
 ('weekday', 'afterschool'),
 ('per', 'week'),
 ('learning', 'environment'),
 ('Math', 'TeacherTutor'),
 ('PartTime', 'Math'),
 ('afterschool', 'hours'),
 ('working', 'hours'),
 ('mathematics', 'including'),
 ('Ability', 'motivate'),
 ('Apply', 'passionate'),
 ('Casual', 'dress'),
 ('Commitment', 'fostering'),
 ('Company', 'events'),
 ('Competitive', 'hourly'),
 ('Create', 'supportive')]

In [283]:
text = df.iloc[2479]['resume'] # resume text
text = clean_text_without_lowering(text)
bigrams_resume = get_top_n_bigrams(word_tokenize(text), 1000)
len(bigrams_resume)
bigrams_resume[:10]

[('City', 'State'),
 ('Company', 'Name'),
 ('Name', 'August'),
 ('student', 'success'),
 ('Teacher', 'Year'),
 ('Birthdays', 'Retirement'),
 ('Celebration', 'End'),
 ('Conference', 'Night'),
 ('Created', 'ran'),
 ('Creative', 'Lesson')]

In [304]:
bigrams_jobdesc_lowered = [tuple(map(str.lower, bigram)) for bigram in bigrams_jobdesc]
bigrams_resume_lowered = [tuple(map(str.lower, bigram)) for bigram in bigrams_resume]
# bigrams_resume_lowered += [('apply', 'passionate')]
bigrams_jobdesc_lowered[:10]

[('advanced', 'functions'),
 ('calculus', 'data'),
 ('data', 'management'),
 ('functions', 'calculus'),
 ('development', 'opportunities'),
 ('weekday', 'afterschool'),
 ('per', 'week'),
 ('learning', 'environment'),
 ('math', 'teachertutor'),
 ('parttime', 'math')]

In [305]:
common_bigrams = [b for b in bigrams_resume_lowered if b in bigrams_jobdesc_lowered]

print("% bigrams simmilarity: {:.2f}".format(len(common_bigrams) * 100 / len(bigrams_jobdesc_lowered)))
common_bigrams

% bigrams simmilarity: 0.00

[]

## Trigrams simmilarity analysis

In [306]:
from nltk.collocations import TrigramCollocationFinder
from nltk.metrics import TrigramAssocMeasures

def get_top_n_trigrams(tokens, n):
    tcf = TrigramCollocationFinder.from_words(tokens) # instantiate bigram finder
    trigrams = tcf.nbest(TrigramAssocMeasures.likelihood_ratio, n) # get top n bigrams
    return trigrams

text = job_desc # job description text
text = clean_text_without_lowering(text)
trigrams_jobdesc = get_top_n_trigrams(word_tokenize(text), 20)
trigrams_jobdesc

[('Advanced', 'Functions', 'Calculus'),
 ('Calculus', 'Data', 'Management'),
 ('Functions', 'Calculus', 'Data'),
 ('weekday', 'afterschool', 'hours'),
 ('Data', 'Management', 'Familiarity'),
 ('Professional', 'development', 'opportunities'),
 ('availability', 'weekday', 'afterschool'),
 ('development', 'opportunities', 'Opportunity'),
 ('limited', 'Advanced', 'Functions'),
 ('professional', 'development', 'opportunities'),
 ('PartTime', 'Math', 'TeacherTutor'),
 ('Data', 'Management', 'curriculum'),
 ('including', 'Advanced', 'Functions'),
 ('development', 'opportunities', 'required'),
 ('per', 'week', 'Responsibilities'),
 ('–', 'per', 'week'),
 ('hours', 'weekday', 'afterschool'),
 ('inclusive', 'learning', 'environment'),
 ('learning', 'environment', 'conducive'),
 ('positive', 'learning', 'environment')]

In [307]:
text = df.iloc[2479]['resume'] # resume text
text = clean_text_without_lowering(text)
trigrams_resume = get_top_n_trigrams(word_tokenize(text), 20)
len(trigrams_resume)
trigrams_resume[:10]

[('Company', 'Name', 'August'),
 ('City', 'State', 'Collected'),
 ('Chairperson', 'City', 'State'),
 ('City', 'State', 'Motivated'),
 ('Coach', 'City', 'State'),
 ('Teacher', 'City', 'State'),
 ('City', 'State', 'Led'),
 ('Developer', 'City', 'State'),
 ('ESOL', 'City', 'State'),
 ('Name', 'August', 'May')]

In [315]:
trigrams_jobdesc_lowered = [tuple(map(str.lower, trigram)) for trigram in trigrams_jobdesc]
trigrams_resume_lowered = [tuple(map(str.lower, trigram)) for trigram in trigrams_resume]
# trigrams_resume_lowered += [('calculus', 'data', 'management')]
trigrams_jobdesc_lowered[:10]

[('advanced', 'functions', 'calculus'),
 ('calculus', 'data', 'management'),
 ('functions', 'calculus', 'data'),
 ('weekday', 'afterschool', 'hours'),
 ('data', 'management', 'familiarity'),
 ('professional', 'development', 'opportunities'),
 ('availability', 'weekday', 'afterschool'),
 ('development', 'opportunities', 'opportunity'),
 ('limited', 'advanced', 'functions'),
 ('professional', 'development', 'opportunities')]

In [317]:
common_trigrams = [b for b in trigrams_resume_lowered if b in trigrams_jobdesc_lowered]

print("% trigrams simmilarity: {:.2f}".format(len(common_trigrams) * 100 / len(trigrams_jobdesc_lowered)))
common_trigrams

% trigrams simmilarity: 0.00

[]

### Cosine simmilarity analysis (Resume entries VS Job description entries)

In [324]:
job_desc_text = """**Responsibilities:**
- Provide engaging and effective instruction in mathematics to students in grades K-12.
- Tailor lessons and teaching methods to meet the individual needs and learning styles of students.
- Cover a range of topics in mathematics, including but not limited to Advanced Functions, Calculus, Data Management, and curriculum Math.
- Prepare and deliver lessons that align with curriculum standards and objectives.
- Assess student progress and provide constructive feedback to support their academic growth.
- Create a supportive and inclusive learning environment conducive to student success.
- Participate in training and professional development opportunities as required.
**Requirements:**
- Bachelor's degree in Mathematics, Education, or a related field (Master's degree preferred).
- Previous experience teaching or tutoring mathematics at the K-12 level.
- Strong knowledge of high school mathematics, including Advanced Functions, Calculus, and Data Management.
- Familiarity with Math Olympiad Competition Math preferred.
- Excellent communication and interpersonal skills.
- Ability to motivate and inspire students to achieve their academic goals.
- Flexible availability during weekday after-school hours.
- Commitment to fostering a positive learning environment for all students.
- Weekend as needed"""

In [330]:
sents = sent_tokenize(job_desc_text)
sents_jobdesc = list(map(clean_text, sents))
sents_jobdesc

['responsibilities provide engaging effective instruction mathematics students grades k12',
 'tailor lessons teaching methods meet individual needs learning styles students',
 'cover range topics mathematics including limited advanced functions calculus data management curriculum math',
 'prepare deliver lessons align curriculum standards objectives',
 'assess student progress provide constructive feedback support academic growth',
 'create supportive inclusive learning environment conducive student success',
 'participate training professional development opportunities required',
 'requirements bachelors degree mathematics education related field masters degree preferred',
 'previous experience teaching tutoring mathematics k12 level',
 'strong knowledge high school mathematics including advanced functions calculus data management',
 'familiarity math olympiad competition math preferred',
 'excellent communication interpersonal skills',
 'ability motivate inspire students achieve academic goals',
 'flexible availability weekday afterschool hours',
 'commitment fostering positive learning environment students',
 'weekend needed']

In [332]:
text = df.iloc[2479]['resume'] # resume text
sents = text.split('\n')
sents = list(map(clean_text, sents))
sents_resume = [sent for sent in sents if len(sent) > 10]
sents_resume[:10]

['reading teacher',
 'highly motivated educator selfstarter passionate commitment learners success growth accountable',
 'thorough history sound decisionmaking innovative skills helped plethora teachers students succeed',
 'professional educator extensive background student success also certified life success coach',
 'look forwardâ',
 'extending expertise teachers staff vanâ buren middle schoolâ believe student success inevitable',
 'competent passionate teachers stand side inspiring productivity essentially life long learnersâ',
 'senior student success rate',
 'years successful teaching experiencetenured',
 'hillsborough alliance black school educators habse teacher year']

In [356]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(min_df=1, stop_words="english")
feature_matrix = tfidf.fit_transform(sents_jobdesc)
col_names = tfidf.get_feature_names_out()
arr = feature_matrix.toarray()
df_jobdesc = pd.DataFrame(arr, columns = col_names)
df_jobdesc

,ability,academic,achieve,advanced,afterschool,align,assess,availability,bachelors,calculus,...,success,support,supportive,tailor,teaching,topics,training,tutoring,weekday,weekend
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.34049,0.296524,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.268885,0.000000,0.000000,0.000000,0.000000,0.00000,0.268885,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.308753,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.391725,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.302736,0.000000,0.000000,0.000000,0.000000,0.347623,0.000000,0.00000,0.000000,...,0.000000,0.347623,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.374658,0.000000,0.374658,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.29906,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.357338,0.000000,0.000000,0.410322,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.290724,0.000000,0.000000,0.000000,0.000000,0.00000,0.290724,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.399682,0.348072,0.399682,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000,0.000000,0.447214,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107

In [357]:
tfidf = TfidfVectorizer(min_df=1, stop_words="english")
feature_matrix = tfidf.fit_transform(sents_resume)
col_names = tfidf.get_feature_names_out()
arr = feature_matrix.toarray()
df_resume = pd.DataFrame(arr, columns = col_names)
df_resume

,academic,accomplishments,accountable,achieving,act,active,activities,addition,administration,administrators,...,used,vanâ,variety,various,varying,weakness,worked,workshops,year,years
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.342742,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.000000,0.0,0.0,0.789728,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [361]:
df_concat = pd.concat([df_jobdesc, df_resume], ignore_index=True)
df_concat = df_concat.fillna(0.0)
df_concat = df_concat.iloc[:, : df_jobdesc.shape[1]]
df_concat

,ability,academic,achieve,advanced,afterschool,align,assess,availability,bachelors,calculus,...,success,support,supportive,tailor,teaching,topics,training,tutoring,weekday,weekend
0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.34049,0.296524,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.268885,0.0,0.000000,0.000000,0.0,0.0,0.268885,...,0.0,0.000000,0.0,0.00000,0.000000,0.308753,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.000000,0.0,0.391725,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.302736,0.0,0.000000,0.0,0.000000,0.347623,0.0,0.0,0.000000,...,0.0,0.347623,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
112,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
113,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
114,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
115,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [365]:
df_resume_concat = df_concat.iloc[-len(df_resume):]
df_resume_concat.reset_index(drop=True, inplace=True)
df_resume_concat

,ability,academic,achieve,advanced,afterschool,align,assess,availability,bachelors,calculus,...,success,support,supportive,tailor,teaching,topics,training,tutoring,weekday,weekend
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.238005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.478683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [363]:
df_jobdesc

,ability,academic,achieve,advanced,afterschool,align,assess,availability,bachelors,calculus,...,success,support,supportive,tailor,teaching,topics,training,tutoring,weekday,weekend
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.34049,0.296524,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.268885,0.000000,0.000000,0.000000,0.000000,0.00000,0.268885,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.308753,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.391725,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.302736,0.000000,0.000000,0.000000,0.000000,0.347623,0.000000,0.00000,0.000000,...,0.000000,0.347623,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.374658,0.000000,0.374658,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.29906,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.357338,0.000000,0.000000,0.410322,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.290724,0.000000,0.000000,0.000000,0.000000,0.00000,0.290724,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.399682,0.348072,0.399682,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000,0.000000,0.447214,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107

In [369]:
import spicy

matrix_jobdesc = spicy.sparse.csr_matrix(df_jobdesc.values)
matrix_resume = spicy.sparse.csr_matrix(df_resume_concat.values)

print("Job Description matrix shape:", matrix_jobdesc.shape)
print("Resume matrix shape:", matrix_resume.shape)

Job Description matrix shape: (16, 93)
Resume matrix shape: (100, 93)

In [371]:
simmilarity_matrix = matrix_jobdesc * matrix_resume.T
simmilarity_matrix

<16x100 sparse matrix of type '<class 'numpy.float64'>'
	with 153 stored elements in Compressed Sparse Row format>

In [374]:
simmilarity_matrix.todense() # simmilarities between each resume entry (columns) and each job description entry (rows)

matrix([[0.        , 0.        , 0.05100182, ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.04737046, ..., 0.        , 0.        ,
         0.16276814],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.15535589, 0.06306133, ..., 0.        , 0.        ,
         0.21668307],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [418]:
best_simmilarities = []

# loop through job description entries and find the resume entry with most simmilarity
for i in range(matrix_jobdesc.shape[0]):
    simmilarities = [matrix.item(i) for matrix in simmilarity_matrix.todense().T] # save simmilarities
    max_sim = max(simmilarities) # get max simmilarity
    max_sim_index = simmilarities.index(max_sim)
    best_simmilarities.append((max_sim_index, max_sim))

best_simmilarities

[(46, 0.23956737329153138),
 (53, 0.28794549012551174),
 (96, 0.2030929688184894),
 (83, 0.19488249917492276),
 (40, 0.2338812613423425),
 (7, 0.2831156875219212),
 (22, 0.3993515157950673),
 (79, 0.22683536824038156),
 (38, 0.17931100276312967),
 (96, 0.21958862619212272),
 (0, 0.0),
 (81, 0.3792476241131377),
 (30, 0.193380773114452),
 (0, 0.0),
 (19, 0.25356677349495693),
 (0, 0.0)]

In [428]:
for i in range(matrix_jobdesc.shape[0]):
    print("Job description entry:\t\t", sents_jobdesc[i])
    best_sim = best_simmilarities[i][1]
    print("% Best simmilarity:\t\t", round(best_sim * 100, 2), "%")
    best_sim_index = best_simmilarities[i][0]
    print("Best simmilarity in resume:\t", sents_resume[best_sim_index] if best_sim != 0.0 else "NOT FOUND")
    print("-"*30)

Job description entry:		 responsibilities provide engaging effective instruction mathematics students grades k12
% Best simmilarity:		 23.96 %
Best simmilarity in resume:	 engaging learning activities
------------------------------
Job description entry:		 tailor lessons teaching methods meet individual needs learning styles students
% Best simmilarity:		 28.79 %
Best simmilarity in resume:	 based differentiated learning needs
------------------------------
Job description entry:		 cover range topics mathematics including limited advanced functions calculus data management curriculum math
% Best simmilarity:		 20.31 %
Best simmilarity in resume:	 classroom management
------------------------------
Job description entry:		 prepare deliver lessons align curriculum standards objectives
% Best simmilarity:		 19.49 %
Best simmilarity in resume:	 studentcentered curriculum planning
------------------------------
Job description entry:		 assess student progress provide constructive feedback support academic growth
% Best simmilarity:		 23.39 %
Best simmilarity in resume:	 monitored academic performance studentathletes addition athletic progress
------------------------------
Job description entry:		 create supportive inclusive learning environment conducive student success
% Best simmilarity:		 28.31 %
Best simmilarity in resume:	 senior student success rate
------------------------------
Job description entry:		 participate training professional development opportunities required
% Best simmilarity:		 39.94 %
Best simmilarity in resume:	 participated regular professional development training keep uptodate new teaching
------------------------------
Job description entry:		 requirements bachelors degree mathematics education related field masters degree preferred
% Best simmilarity:		 22.68 %
Best simmilarity in resume:	 education strategies
------------------------------
Job description entry:		 previous experience teaching tutoring mathematics k12 level
% Best simmilarity:		 17.93 %
Best simmilarity in resume:	 met prospective studentathletes discuss experience goals
------------------------------
Job description entry:		 strong knowledge high school mathematics including advanced functions calculus data management
% Best simmilarity:		 21.96 %
Best simmilarity in resume:	 classroom management
------------------------------
Job description entry:		 familiarity math olympiad competition math preferred
% Best simmilarity:		 0.0 %
Best simmilarity in resume:	 NOT FOUND
------------------------------
Job description entry:		 excellent communication interpersonal skills
% Best simmilarity:		 37.92 %
Best simmilarity in resume:	 parent communication
------------------------------
Job description entry:		 ability motivate inspire students achieve academic goals
% Best simmilarity:		 19.34 %
Best simmilarity in resume:	 led students improve test scores first semester academic year
------------------------------
Job description entry:		 flexible availability weekday afterschool hours
% Best simmilarity:		 0.0 %
Best simmilarity in resume:	 NOT FOUND
------------------------------
Job description entry:		 commitment fostering positive learning environment students
% Best simmilarity:		 25.36 %
Best simmilarity in resume:	 established positive relationships students parents colleagues administrators
------------------------------
Job description entry:		 weekend needed
% Best simmilarity:		 0.0 %
Best simmilarity in resume:	 NOT FOUND
------------------------------